* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}
#header {
	justify-content: space-between;
	align-items: center;
	background: #ff663b;
	color: #fff;
	position:fixed;
	padding: 10px;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #127b8e;
}
.header i {
	font-size: 30px;
	cursor: pointer;
	color: #fff;
}
.header i:hover {
	color: #127b8e;
}
.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;

}
.side-bar {
	width: 150px;
	position: fixed;
	background:rgba(65, 103, 159, 0.854);
	transition: 500ms width;
	height: 100%;
	padding-top: 90px;
}
.body {
	display: flex;
	width: 100%;
	height: 100%;
}
.section-1 {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	padding-left: 100px;
	margin-left: 80px;
}
.section-1 h1{
	font-size: 25px;
	justify-content: center;
	align-items: center;
}
.section-2 {
	width: 80%;
	height: 100%;
	padding-left: 100px;
	margin-left: 80px;
}
.section-2 h1{
	font-size: 25px;
	justify-content: center;
	align-items: center;
}
.section-1 p {
	color: #127b8e;
	font-size: 20px;
	background: #fff;
	padding: 7px;
	border-radius: 5px;
}
.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #d723238d;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 23px;
}
#navbtn {
	position: relative;
	color: #ff663b;
	margin-left: 50px;
	font-size: 30px;
	transition: 500ms color;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color:#ff663b;
	margin-bottom:0;
}
.notification .badge {
	position: absolute;
	left: 35px;
	border-radius: 50%;
	background-color: red;
	color: white;
  }
#checkbox {
	display: none;
}
#checkbox:checked ~ .body .side-bar {
	width: 80px;
}
#checkbox:checked ~ .body .side-bar .user-p{
	visibility: visible;
}
#checkbox:checked ~ .body .side-bar a span{
	display: none;
}
.pure-css-bootstrap-modal {
	position: absolute; /* Don't take any space. */
}
.pure-css-bootstrap-modal label.close {
	/* Reset */
	padding: 0;
	margin: 0;
  }
  
#modal-switch {
	display: none;
  }

  /* MODAL */
.modal {
	display: block;
  }
#modal-switch:not(:checked) ~ .modal {
	max-width: 0;
  }
#modal-switch:checked ~ .fade,
#modal-switch:checked ~ .modal .fade
  {
	opacity: 1;
  }

  /* BACKDROP */
.modal-backdrop {
	margin: 0;
  }
#modal-switch:not(:checked) ~ .modal .modal-backdrop
  {
	display: none;
  }
#modal-switch:checked ~ .modal .modal-backdrop
  {
	filter: alpha(opacity=50);
	opacity: 0.5;
  }

  /* DIALOG */
#modal-switch ~ .modal .modal-dialog {
	transition: transform .3s ease-out;
	transform: translate(0, -50%);
  }
#modal-switch:checked ~ .modal .modal-dialog {
	transform: translate(0, 10%);
	z-index: 1050;
  }
table {
	border-collapse: collapse;
	width: 90%;
	border-spacing: 0;
	border: 2px solid #0a0606;
}
th, td {
	text-align: left;
	padding: 8px;
  }
tr:nth-child(even){
	background-color: #f2f2f2}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	.vertical-centter h1{
		font-size: 12px;
		margin-top: 30px;;
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
		
	}
	
	tr { border: 1px solid #ccc;
	}
	
	td { 
		border: none;
		border-bottom: 2px solid #f44e4e; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		border-right:2px solid #e52f2f;
		background-color: #ff663b;
		color: #0a0606;
		align-items: center;
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	}
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "ID"; }
	td:nth-of-type(2):before { content: "Ime"; }
	td:nth-of-type(3):before { content: "Prezime"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Pol"; }
	td:nth-of-type(6):before { content: "ZemljaRođenja"; }
	td:nth-of-type(7):before { content: "MestoRođenja"; }
	td:nth-of-type(8):before { content: "DatumRođenja"; }
	td:nth-of-type(9):before { content: "JMBG"; }
	td:nth-of-type(10):before { content: "Tip Zahteva"; }
	td:nth-of-type(11):before { content: "Admin Polje"; }
}
@media only screen and (min-width: 768px) and (max-width: 1424px)  {
	table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
	thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;			
		}
		
		tr { border: 1px solid #ccc;
		}
		
		td { 
			border: none;
			border-bottom: 2px solid #f44e4e; 
			position: relative;
			padding-left: 50%; 
		}
		
		td:before { 
			position: absolute;
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			border-right:2px solid #e52f2f;
			background-color: #ff663b;
			color: #0a0606;
			align-items: center;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		}
		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "ID"; }
		td:nth-of-type(2):before { content: "Ime"; }
		td:nth-of-type(3):before { content: "Prezime"; }
		td:nth-of-type(4):before { content: "Email"; }
		td:nth-of-type(5):before { content: "Pol"; }
		td:nth-of-type(6):before { content: "ZemljaRođenja"; }
		td:nth-of-type(7):before { content: "MestoRođenja"; }
		td:nth-of-type(8):before { content: "DatumRođenja"; }
		td:nth-of-type(9):before { content: "JMBG"; }
		td:nth-of-type(10):before { content: "Tip Zahteva"; }
		td:nth-of-type(11):before { content: "Aktivnost Admina"; }
}
#cardnews{
	color:red;
	border-radius:10px;
	border:2px solid #0a0606;
    background-color:#6888fa81;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin-top: 30px;
	justify-content: center;
}
.containerr { 
	position: relative;
	color:black;
  }
  
.vertical-centter {
	margin-left: 2%;
	margin-right: 2%;
	position: absolute;

  }
.containerr h1{
	position: absolute;
  }
#p{
	color: rgb(15, 1, 1);
	margin-left: 10%;
	padding-left: 25px;
	border-radius:10px;
	background-color: #7ee2f462;
	box-shadow: 2px 2px 2px 4px rgba(134, 30, 12, 0.361); 
  }

